* {
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;
  background-color:#1b1b2e;
  color: #212121;
  line-height: 1.5;

  
}

img {
  display: block;
 }

 .link {
  text-decoration: none;
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}

.load-more.is-hidden {
  display: none;
}

.search-form{
display: flex;
justify-content: center;
margin-bottom: 30px;
}

.search-form input, .search-form button, .load-more {
border-radius: 12px;
border: 1px solid darkcyan;
padding: 10px;
font-family: inherit;
font-weight: 600;
font-size: 16px;
color: #1b1b2e;
}

.search-form input {
  width: 300px;
  margin-right: 10px;
}

.search-form input:focus {
  border: 2px solid rgb(34, 103, 80);
  outline: none;
}

.search-form button, .load-more {
  background-color: aqua;
  width: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form button:hover, .load-more:hover, 
.search-form button:hover, .load-more:hover {
background-color: aquamarine;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: -10px;
  margin-top: -10px;
}
.photo-card {
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  flex-basis: calc((100% - 40px) / 4);
}

.info {
 display: flex;
 margin-left: -5px;
 margin-top: -10px;
 padding-top: 10px;
 flex-wrap: wrap;
 font-size: 14px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-top: 10px;
  flex-basis: calc((100% - 40px) / 4);
}

.load-more{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}